---
---

@import "primer-base/index.scss";
@import "primer-markdown/index.scss";
@import "primer-layout/index.scss";
@import "primer-utilities/index.scss";

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  overflow-x: auto;
}

.markdown-body {
  padding: 1em 2em;
}

.container-lg {
  min-height: 95%;
}

.comments {
  padding: 1em;
  margin-top: 50px;

  hr {
    height: 4px;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }
}

.brand {
  font-size: 3em;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.projects {
  font-size: 2.6em;
  color: #a0a0a0;

  div + div {
    margin-top: 30px;
  }

  div {
    white-space: nowrap;
    overflow: visible;
  }

  span {
    color: #bbb;
    font-size: 0.8em;
    display: inline-block;
  }

  a {
    border: solid 4px #444;
    background: #444;
    color: white;
    padding: 6px 15px;
    white-space: nowrap;
    margin-right: 20px;
    border-radius: 4px;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .color-af {
    background: #34495e;
    border-color: #34495e;
  }

  .color-ebe {
    background: #009;
    border-color: #009;
  }

  .color-ur {
    background: #419b24;
    border-color: #419b24;
  }

  .color-glance {
    background: #1d2433;
    color: yellow;
    border-color: #1d2433;
  }

  .color-bf {
    background: #aaa;
    border-color: #aaa;
  }

  .color-hyperbnb {
    background: #ff5a5f;
    border-color: #ff5a5f;
  }

  .color-eyecrm {
    background: rgb(84, 160, 213);
    border-color: rgb(84, 160, 213);
    color: white;
  }

  .color-pw {
    background: black;
    border-color: black;
  }

  .color-sks {
    background: white;
    color: #009;
    border-color: #009;
  }

  .color-mbb {
    background: #dd843c;
    border-color: #dd843c;
  }

}

.links {
  font-size: 3em;
  color: #a0a0a0;
  
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #666;
  }

  a+a {
    margin-left: 20px;
  }

}


footer {
  margin-top: 50px;
  background: #f6f8fa;
  text-align: center;
  padding: 30px;
}


p.details {
  cursor: default;

  span.date, span.tag {
    color: #bbb;
    font-size: 0.9em;  
  }

}



@media (max-width: 600px) {
  .markdown-body {
    font-size: 0.9em;
  }

  .projects {
    font-size: 2.4em;
  }

  .links {
    font-size: 1.6em;
  }
}


// "Dark Mode" overrides
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #fff;
  }

  .markdown-body {
    h1, h2 {
      border-color: #888;
    }
  }

  a {
    color: #97c5f4;
  }

  footer {
    background: #444;
  }
}
