---
layout: default
---

<h1>Building apps and websites, solving interesting problems.</h1>

<section class="projects">
  {% assign sorted = site.projects | sort: 'date' | reverse %}
  {% for project in sorted %}
    <div class="project">
      <a href="{{ project.link }}" target="_blank">
        <div class="placeholder" style="background: {{ project.color }}">
          <img src="{{ project.image }}" />
        </div>
        <h3>{{ project.name }} &ndash; {{ project.summary }} <span class="arrow">→</span></h3>
      </a>
      <div class="markdown-body">{{ project.content }}</div>
      <div class="details">Launched {{ project.date | date: '%Y' }} | {{ project.status }}</div>
    </div>
  {% endfor %}
</section>

<section class="posts">
  <h2>Blog</h2>
  {% for post in site.posts limit: 3 %}
    <a href="{{ post.url }}" class="post">
      <h3>{{ post.title }} <span class="arrow">→</span></h3>
      <div class="details">
        <span class="date">{{ post.date | date: '%b %-d, %Y' }}</span>
      </div>
    </a>
  {% endfor %}
  <br>
  <a href="/posts/"><span class="arrow">→</span> More posts</a>
</section>

{% include signup.html %}
