<footer>
  <div class="links">
    {% if page.url != '/' %}
    <a href="/"><i class="fa fa-bars"></i></a>
    {% endif %}
    <a href="/posts/"><i class="fa fa-rss"></i></a>
    <a href="https://twitter.com/pqvst" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/pqvst" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://medium.com/@pqvst" target="_blank"><i class="fa fa-medium"></i></a>
    <a href="https://www.linkedin.com/in/philip-bergqvist-733a4214" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:hello@pqvst.com" target="_blank"><i class="fa fa-envelope"></i></a>
  </div>
  <div class="copyright">
      &copy; {{ site.time | date: '%Y' }} <a href="/">pqvst.com</a>
  </div>
</footer>
