
<!-- Google form to POST form -->
<section class="signup">
  <hr>
  <h3>Get notified about future posts and projects.</h3>
  <form method="post" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdO0lwrlG58RP-6L9ZXHhUNH68kRNkQcjsSrGCsyIE8ISgS8Q/formResponse">
    <input type="email" name="entry.1074208666" placeholder="Email Address" required="required" />
    <input type="hidden" name="entry.1363556558" value="{{ page.url }}" />
    <button type="submit">Subscribe</button>
  </form>
</section>
