
<!-- Google form to POST form -->
<section class="signup">
  <hr>
  <h3>Get notified about future posts and projects.</h3>
  <form method="post" action="https://0255e2d3.sibforms.com/serve/MUIFAAPtSvgTu1DLCG_WEoilu1DtmshBY0hn9yx673plMHnGYYVSGPuH2bNbax3BVrQ_8yx7QvGEy9nUZUCyMF7gqB7U7WJ9TX8jCfbmufpiGx3yQx_gti1tmwVTZiDsD3jtsccYkFRoSVweStEv0GW9zFVi882xyTsA1NJ5dnc0UpHqn8aFW_M9kRl2_moQSr7hxEWv9sSDxOKM">
    <input type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Email Address" data-required="true" required />
    <input type="hidden" id="PAGE" name="PAGE" autocomplete="off" value="{{ page.url }}" />
    <input type="hidden" name="locale" value="en">
    <input type="hidden" name="html_type" value="simple">
    <button type="submit">Subscribe</button>
  </form>
</section>
