
footer {
  margin-top: 50px;
  background: #f6f8fa;
  text-align: center;
  padding: 30px;

  .links {
    font-size: 2em;
    color: #a0a0a0;
    
    a {
      color: inherit;
      text-decoration: none;
    }
  
    a:hover {
      color: #666;
    }
  
    a+a {
      margin-left: 20px;
    }
  
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 0.8em;
    opacity: 0.5;

    a {
      color: inherit;
    }
  }
  
}
