
.projects {
  font-size: 2em;
  color: #a0a0a0;
  padding-top: 15px;

  h2 {
    margin-top: 50px;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 300;
  }

  div + div {
    margin-top: 30px;
  }

  div {
    white-space: nowrap;
    overflow: visible;
  }

  span {
    color: #bbb;
    font-size: 0.8em;
    display: inline-block;
    padding-right: 10px;
  }

  a {
    border: solid 4px #444;
    border-width: 4px !important;
    background: #444;
    color: white;
    padding: 6px 16px;
    white-space: nowrap;
    margin-right: 20px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.9;
  }

  .awardfares {
    background: #2e5c8a;
    border-color: #2e5c8a;
  }

  .ebexpert {
    background: #009;
    border-color: #009;
  }

  .unifiedremote {
    background: #419b24;
    border-color: #419b24;
  }

  .glance {
    background: #1d2433;
    color: yellow;
    border-color: #1d2433;
  }

  .browserframe {
    background: #333;
    border-color: #333;
  }

  .hyperbnb {
    background: #ff5a5f;
    border-color: #ff5a5f;
  }

  .eyecrm {
    background: rgb(84, 160, 213);
    border-color: rgb(84, 160, 213);
    color: white;
  }

  .paperworks {
    background: black;
    border-color: black;
  }

  .shinkansen {
    background: white;
    color: #009;
    border-color: #009;
  }

  .malmobybike {
    background: #dd843c;
    border-color: #dd843c;
  }

  .markchimp {
    background: #ffe01b;
    border-color: #ffe01b;
    color: black;
  }

  .placestowork {
    background: #16a085;
    border-color: #16a085;
  }

  .stocks {
    background: #3498db;
    border-color: #3498db;
  }

  @media (max-width: 600px) {
    & {
      font-size: 1.6em;
    }
  }
}
