---
---

$theme: #0083ff;

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  color: #303030;
  line-height: 1.5;
  font-size: 15pt;
  font-weight: 300;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.wrap {
  margin: 0 auto;
  max-width: 900px;
  min-height: 100%;
  overflow-x: auto;
  padding: 20px;
  overflow: visible;
}

main {

  a {
    text-decoration: none;
    color: $theme;
  }
  
  a:hover {
    border-bottom: solid 1px $theme;
  }
  
}

hr {
  height: 3px;
  background: #eee;
  border: none;
  margin: 30px 0;
}

img {
  max-width: 100%;
}


@import 'header';
@import 'projects';
@import 'blog';
@import 'footer';
@import 'dark';

main > .about {
  h1 {
    font-weight: 300;
  }
  b {
    font-weight: 400;
    border-bottom: solid 1px black;
  }
}