
html, body {
  height: 100%;
}

body {
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  background-color: #FFFFFF;
  color: #303030;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
  overflow-x: auto;
  padding: 20px;
  overflow: visible;
}

main a {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 3px;
  background: #eee;
  border: none;
  margin: 30px 0;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.15;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000 0%, #666 100%);
  background: -moz-linear-gradient(to right, #000000 0%, #666 100%);
  background: linear-gradient(to right, #000000 0%, #666 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

.details {
  color: rgb(0,0,0,0.3);
}

/* ========================= Header ========================= */

header {
  color: #bbb;
  margin: 20px 0 60px 0;
  display: flex;
  align-items: center;
  line-height: 1.3;
}

header a.favicon:hover {
  border-color: transparent;
}

header a.brand {
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

header a.brand:hover {
  border: none;
}

header a:hover {
  opacity: 0.8;
}

header a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px transparent;
}

header a+a {
  margin-left: 20px;
}

header a:hover,
header a.active {
  border-bottom: solid 1px #bbb;
}


/* ========================= Projects ========================= */

.project h3 {
  margin-bottom: 10px;
}

.project h3, p {
  margin: 0;
}

.project {
  padding-top: 32px;
  padding-bottom: 32px;
}

.project .details {
  margin-top: 4px;
}

.placeholder {
  min-height: 50px;
  max-height: 120px;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px;
  background: rgba(0,0,0,0.03);
  overflow: hidden;
  margin-bottom: 16px;
  padding: 10px;
  max-width: 100%;
  position: relative;
}



/* ========================= Signup Form ========================= */

section.signup {
  margin: 50px 0;
  border: solid 1px #ddd;
  padding: 25px 40px;
  border-radius: 16px;
}

section.signup hr {
  display: none;
}

section.signup h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

section.signup input {
  margin-right: 5px;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 15px 15px;
}

section.signup button {
  background: #0083ff;
  color: white;
  border: solid 1px #0083ff;
  border-radius: 4px;
  padding: 15px 30px;
  cursor: pointer;
}

section.signup button:active {
  background: #0062c0;
  border-color: #0062c0;
}

@media screen and (max-width: 550px) {
  section.signup {
    padding: 20px 25px;
  }
  section.signup input,
  section.signup button {
    display: block;
    width: 100%;
    margin: 15px 0;
  }
}


/* ========================= Anchor Arrows ========================= */

a .arrow {
  font-weight: 300;
}

a:hover .arrow {
  font-weight: inherit;
}


/* ========================= Posts ========================= */

section.posts h3 {
  margin-bottom: 0;
}

section.posts .title {
  margin-top: 50px;
}

section.posts .title h2 {
  margin-bottom: 5px;
  line-height: 1.25;
}

section.posts .title a:hover h2 {
  color: #0083ff;
}

section.posts .excerpt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}


/* ========================= Post ========================= */

section.post .details {
  margin: 4px 0 24px 0;
}

section.post .image {
  margin-bottom: 30px;
}

section.post h1 {
  margin-bottom: 0;
}


/* ========================= Anchors ========================= */

a.anchor {
  display: none;
  color: #ddd;
}

a.anchor i.fa {
  transform: scale(0.8);
}

a.anchor:hover {
  border: none;
  color: #ccc;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline;
}


/* ========================= Markdown Overrides ========================= */

.markdown-body {
  font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: inherit;  
}

.markdown-body hr {
  height: 1px;
}

.markdown-body img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: rgba(0,0,0,0.03);
}

.markdown-body img + em {
  font-size: 0.8em;
  display: block;
  margin-top: 5px;
}

.markdown-body div.highlight {
  overflow: hidden;
  border-radius: 6px;
}

.markdown-body h2 {
  margin-top: 48px;
}

.markdown-body p a {
  text-decoration: underline;
}

/* ========================= Footer ========================= */

footer {
  margin-top: 50px;
  background: #f6f8fa;
  text-align: center;
  padding: 30px;
}

footer .links {
  font-size: 2em;
  color: #a0a0a0;
}
  
footer .links a {
  color: inherit;
  text-decoration: none;
}

footer .links a:hover {
  color: #666;
}

footer .links a+a {
  margin-left: 20px;
}

footer .fa-envelope {
  position: relative;
  top: -1px;
}

footer .fa-rss {
  position: relative;
  top: 2px;
}
  
footer .copyright {
  margin-top: 10px;
  font-size: 0.8em;
  opacity: 0.5;
}

footer .copyright a {
  color: inherit;
}



/* ========================= Sharing Buttons ========================= */

.resp-sharing-buttons {
  text-align: center;
  margin-top: 30px;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}
