<html>
  <head>
    {% if page.title %}
    <title>PQVST – {{page.title}}</title>
    {% else %}
    <title>PQVST</title>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- https://formito.com/tools/favicon -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%230083ff%22></rect><path fill=%22%23ffffff%22 d=%22M49.43 81.99L22.93 81.99L22.93 74.30L29.74 72.98L29.74 27.06L22.93 25.74L22.93 18.01L29.74 18.01L53.38 18.01Q60.72 18.01 66.04 20.58Q71.36 23.15 74.21 27.74Q77.07 32.33 77.07 38.44L77.07 38.44Q77.07 44.55 74.21 49.14Q71.36 53.74 66.04 56.26Q60.72 58.79 53.38 58.79L53.38 58.79L42.57 58.79L42.57 72.98L49.43 74.30L49.43 81.99ZM42.57 27.90L42.57 48.90L53.38 48.90Q58.75 48.90 61.49 45.98Q64.24 43.06 64.24 38.53L64.24 38.53Q64.24 33.92 61.49 30.91Q58.75 27.90 53.38 27.90L53.38 27.90L42.57 27.90Z%22></path></svg>" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/syntax.css" rel="stylesheet">
    <link href="/assets/css/zoom.css" rel="stylesheet">

    <link rel="alternate" type="application/atom+xml" title="PQVST" href="/feed.xml" />
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87635117-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-87635117-1');
    </script>

    <script async defer data-website-id="092d5c2a-5f25-4173-9719-e3c53d1284ad" src="https://umami.pqvst.com/umami.js"></script>
  </head>
  <body>
    <div class="wrap">

      <header>
        <a href="/" class="brand">PQVST</a>
        <a href="/" {% if page.url == '/' %}class="active"{% endif %}>Projects</a>
        <a href="/posts" {% if page.url == '/posts/' %}class="active"{% endif %}>Posts</a>
        <a href="/about" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
      </header>

      <main>{{content}}</main>
      
    </div>
    <footer>
      <div class="links">
        <a href="https://www.linkedin.com/in/philip-bergqvist-733a4214" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/pqvst" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/pqvst" target="_blank"><i class="fa fa-github"></i></a>
        <a href="mailto:hello@pqvst.com" target="_blank"><i class="fa fa-envelope"></i></a>
        <a href="/feed.xml" target="_blank"><i class="fa fa-rss"></i></a>
      </div>
      <div class="copyright">
          Copyright &copy; 2012-{{ site.time | date: '%Y' }} PQVST AB
      </div>
    </footer>
  </body>
</html>
