<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container-lg py-6"> 
      <div class="markdown-body">
        <div class="brand">
          <a href="/posts/"><i class="fa fa-code"></i> <em>pqvst</em></a>
        </div>
        <h1>{{ page.title }}</h1>
        <p class="details">
          <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
          {% for tag in page.tags %}
            <span class="dot"> · </span>
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </p>
        {{ content }}
      </div>
      {% include disqus.html %}
    </div>
    {% include footer.html %}
    <script id="dsq-count-scr" src="//blog-pqvst-com.disqus.com/count.js" async></script>
  </body>
</html>
